html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /* The Masonry Container */
  .masonry {
    margin: 1.5em auto;
    max-width: 968px;
    column-gap: 1.5em;
  }
  
  /* The Masonry Brick */
  .item {
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
  }

  img{
      max-width: 100%;
      box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  }
  
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  
  /* Masonry on small screens */
  @media only screen and (max-width: 968px) and (min-width: 540px) {
    .masonry {
      column-count: 2;
    }
  }