@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html{
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  overflow-x: hidden;
  margin: 0;
  color: #111;
  font-family: 'Open Sans',sans-serif;
  font-height: 300;
  line-height: 2.3em;
}

h1,h2,h3,h4,h5{
  line-height: 3em;

}

.main{
  max-width: 700px;
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: flex-end;
}
ul{
  display: flex;
  flex-direction: row;
}
li{
  list-style: none;
  padding-left: 10px;
}
