@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html{
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body{
  overflow-x: hidden;
  margin: 0;
  color: #111;
  font-family: 'Open Sans',sans-serif;
  font-height: 300;
  line-height: 2.3em;
}

h1,h2,h3,h4,h5{
  line-height: 3em;

}

.main{
  max-width: 900px;
  margin: 0 auto;
}

nav{
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  top: 0;
  position: sticky;
  border-bottom: solid 1px grey;
}
ul{
  display: flex;
  flex-direction: row;
}
li{
  list-style: none;
  padding-left: 10px;
}

.row{
  width: 100%;
}

.col{
  width: 40%;
}

.right{
  float: right;
}

.About, .Projects{
  padding-top: 80px;
}

a{
  text-decoration: none;
  color: grey;
  border-bottom: 1px solid rgba(0,0,0,0);
  transition: border-bottom 300ms;
  transition: color 300ms;
}

a:hover{
  border-bottom: 1px solid rgba(0,0,0,1);
  color: #000;
}

footer{
  padding: 50px 0;
  border-top: solid 1px grey;
}
footer p{
  display: inline;
}
footer span{
  float: right;
}

@media(max-width:968px){
  .main{
    max-width: 100%;
    padding: 0 30px;
  }
  .col{
    min-width: 100%;
  }
  .right{
    float: left;
  }
  footer p{
    display: block;
  }
  footer span{
    float: left;
  }
}
